[submodule "externals/anoncreds"]
  path = externals/anoncreds
  url = https://github.com/input-output-hk/anoncreds-rs.git
  branch = feature/wasm

[submodule "externals/didcomm"]
  path = externals/didcomm
  url = https://github.com/sicpa-dlab/didcomm-rust.git
